
<div class="text-secondary">
    [TO BE REMOVEED ] for test : {{selectedcatID}} <br>
    <span>Order 's Date:{{orderDate|date:'longDate'}}</span>
</div>






<table class="table table-hover">
    <thead class="">
        <tr>
            <th scope="col">NO.</th>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
            <th scope="col">AV. Quantity</th>
            <th scope="col">price in USD </th>
            <th scope="col">price in EGP</th>
            <th scope="col">Count</th>
            <th scope="col">buy</th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr *ngFor="let prd of prdList; let i = index ;trackby: prdTrackByFn" [class.d-none]="selectedcatID != prd.categoryID" [style.background-color]="(prd.quantity==0)? 'yellow ' : 'lightgray '">
             -->
        <tr *ngFor="let prd of prdListOfcat; let i = index" [class.bg-warning]="prd.quantity==0">
            <td>{{i+1}}</td>
            <td>{{prd.Name}}</td>
            <td><img [src]=" prd.imgURL " alt=" "></td>
            <td>
                <div *ngIf="prd.quantity!=0">
                    {{prd.quantity}}

                </div>
                <div *ngIf="prd.quantity==0" [class.bg-warning]="prd.quantity==0">Out of stock</div>

            </td>
            <td>{{prd.price| currency:'USD':'symbol' }}</td>
            <td>{{prd.price| uSDtoEGP|currency :'EGP':'code'}}</td>

            <td><input #itemsCount type="number " class="from-control "></td>
            <td><button type="button " class="btn btn-primary " (click)="buy(prd.id, itemsCount.value) ">Buy</button> </td>
        </tr>
    </tbody>
</table>
<hr>
<h3>order total price : {{orderTotalPrice}}</h3>